@use 'variables' as *;
@media (min-width: 992px) {
	.steps {
		padding-top: 5em;
		padding-bottom: 10em;
		&__step-indicator {
			width: 50px;
			height: 50px;
			font-size: 2.2rem;
		}
	}

	.app-form {
		margin-top: 13em;
		padding: 2.5em;
		&__heading {
			font-size: 3.2rem;
		}
		&__text {
			font-size: 2.2rem;
		}
	}
	.error {
		font-size: 2.2rem;
	}
	.input {
		&__label {
			font-size: 2rem;
		}
		&__text {
			font-size: 2.2rem;
		}
	}
	.bottom-panel {
		&__btn {
			font-size: 2.2rem;
		}
		&__text-btn {
			font-size: 2.2rem;
		}
	}
	.plan-card {
		&__title {
			font-size: 2.2rem;
		}
		&__price {
			font-size: 2rem;
		}
		&__image {
			width: 60px;
		}
		&__free {
			font-size: 1.8rem;
		}
	}
	.mode-switch {
		padding: 2em;
		&__text {
			font-size: 2rem;
		}
		&__button {
			width: 45px;
		}
		&__button-circle {
			width: 14px;
			height: 14px;
		}
	}
	.add-on {
		&__checkbox {
			width: 25px;
			height: 25px;
		}
		&__title {
			font-size: 2rem;
		}
		&__subtitle {
			font-size: 1.8rem;
		}
		&__price {
			font-size: 1.8rem;
		}
	}
	.checkout {
		&__title {
			font-size: 2.2rem;
		}
		&__link {
			font-size: 2.2rem;
		}
		&__price {
			font-size: 2.2rem;
		}
		&__total-text {
			font-size: 2.2rem;
		}
		&__list-text {
			font-size: 2.2rem;
		}
		&__list-price {
			font-size: 2.2rem;
		}
		&__total-price {
			font-size: 2.2rem;
		}
	}
}
