@use 'variables' as *;
@media (min-width: 375px) {
	.steps {
		padding-top: 2em;
		padding-bottom: 8em;
		&__step-indicator {
			width: 36px;
			height: 36px;
			font-size: 1.8rem;
		}
	}

	.app-form {
		padding: 2.5em;
		&__heading {
			font-size: 2.6rem;
		}
		&__text {
			font-size: 1.6rem;
		}
	}
	.input {
		&__label {
			font-size: 1.4rem;
		}
		&__text {
			font-size: 1.6rem;
		}
	}
	.bottom-panel {
		&__btn {
			font-size: 1.6rem;
		}
		&__text-btn {
			font-size: 1.6rem;
		}
	}
	.plan-card {
		&__title {
			font-size: 1.6rem;
		}
		&__price {
			font-size: 1.4rem;
		}
		&__image {
			width: 50px;
		}
		&__free {
			font-size: 1.2rem;
		}
	}
	.mode-switch {
		&__text {
			font-size: 1.4rem;
		}
		&__button {
			width: 45px;
		}
		&__button-circle {
			width: 14px;
			height: 14px;
		}
	}
	.add-on {
		&__checkbox {
			width: 25px;
			height: 25px;
		}
		&__title {
			font-size: 1.4rem;
		}
		&__subtitle {
			font-size: 1.2rem;
		}
		&__price {
			font-size: 1.2rem;
		}
	}
	.checkout {
		&__title {
			font-size: 1.6rem;
		}
		&__link {
			font-size: 1.6rem;
		}
		&__price {
			font-size: 1.6rem;
		}
		&__total-text {
			font-size: 1.6rem;
		}
		&__list-text {
			font-size: 1.6rem;
		}
		&__list-price {
			font-size: 1.6rem;
		}
		&__total-price {
			font-size: 1.6rem;
		}
	}
}
