@use 'variables' as *;
@media (min-width: 1400px) {
	.steps {
		padding: 4em 2em;
		padding-bottom: 35em;
		&__step {
			display: flex;
			align-items: center;
		}
		&__step-text {
			display: flex;
			gap: 0.6em;
			flex-direction: column;
		}
		&__step-title {
			display: block;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 1px;
			font-size: 1.6rem;
			color: #fff;
		}
		&__step-name {
			display: block;
			font-size: 1.5rem;
			color: $subtext;
			text-transform: uppercase;
		}
		&__step-indicator {
			margin: 0.6em;
			width: 50px;
			height: 50px;
		}
		&__step-indicator-text {
			font-size: 2.2rem;
		}
	}
	.container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		background-color: #fff;
		margin: 0 7em;
		width: 80%;
		height: auto;
	}

	.app-form {
		margin: 0;
		margin-top: 2em;
		width: 100%;
		padding: 2.5em;
		&__heading {
			font-size: 4rem;
		}
		&__text {
			font-size: 2.2rem;
		}
	}
	.error {
		font-size: 2.2rem;
	}
	.input {
		&__label {
			font-size: 2rem;
		}
		&__text {
			font-size: 2.2rem;
		}
	}
	.bottom-panel {
		margin-top: auto;
		margin-left: auto;
		&__btn {
			font-size: 2.2rem;
		}
		&__text-btn {
			font-size: 2.2rem;
		}
	}
	.plan-container {
		display: flex;
		justify-content: space-between;
	}
	.plan-card {
		flex-direction: column;
		width: 30%;
		padding: 2em;
		margin-bottom: 5em;
		&__text {
			margin-left: 0;
		}
		&__title {
			font-size: 2.2rem;
			margin-bottom: 0.2em;
		}
		&__price {
			font-size: 2rem;
			margin-bottom: 0.5em;
		}
		&__image {
			width: 60px;
			margin-bottom: 7em;
		}
		&__free {
			font-size: 1.8rem;
		}
	}
	.mode-switch {
		padding: 2em;
		&__text {
			font-size: 2rem;
		}
		&__button {
			width: 45px;
		}
		&__button-circle {
			width: 14px;
			height: 14px;
		}
	}
	.add-on {
		padding: 3em;
		&__checkbox {
			width: 30px;
			height: 30px;
		}
		&__title {
			font-size: 2rem;
		}
		&__text {
			margin-left: 2em;
		}
		&__subtitle {
			font-size: 1.8rem;
		}
		&__price {
			font-size: 1.8rem;
		}
	}
	.checkout {
		padding: 3em;
		&__title {
			font-size: 2.2rem;
		}
		&__link {
			font-size: 2.2rem;
		}
		&__price {
			font-size: 2rem;
		}
		&__line {
			margin: 3em 0;
		}
		&__total {
			padding: 3em;
		}
		&__total-text {
			font-size: 2.2rem;
		}
		&__list-text {
			font-size: 2.2rem;
		}
		&__list-price {
			font-size: 2rem;
		}
		&__total-price {
			font-size: 2.6rem;
		}
	}
}
